* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #000000;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img,
svg {
  display: block;
  height: auto;
}

img {
  max-width: 100%;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  border: transparent;
}

header {
  background-color: rgba(0, 0, 0, 0.56);
}

.btn {
  min-width: 130px;
  border-radius: 5px;
  padding: 12px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .btn {
    min-width: 150px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/cinema.jpg");
  }
}

.header .container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 45px;
    padding-bottom: 80px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.nav-btn__box {
  display: flex;
  margin-left: auto;
}

.logo-btn {
  display: flex;
  align-items: end;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
}

.logo-icon {
  margin-right: 8px;
}

.logo-btn span {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-btn span {
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
}

.nav_btn {
  padding: 4px 0;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.nav_btn + .nav_btn {
  margin-left: 40px;
}

.underlined-js {
  border-bottom: 3px solid #FF6B01;
}

.search-form {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.search-btn {
  position: absolute;
  padding: 4px;
  top: 4px;
  right: 8px;
}

.search-input {
  min-width: 320px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #FF6B01;
  border-radius: 32px;
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-input:hover, .search-input:focus {
  box-shadow: 2px 2px 16px rgba(255, 107, 1, 0.6);
  border: 1px solid rgba(255, 107, 1, 0.6);
}

.header-btn-wrapper {
  margin: 0 auto;
}

.lib-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/src/images/lib-header.jpg");
  }
}

.movies-gallery-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

.movies-gallery {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .movies-gallery {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .movies-gallery {
    margin-right: -32px;
    margin-bottom: -32px;
  }
}
@media screen and (min-width: 1024px) {
  .movies-gallery {
    margin-right: -16px;
    margin-bottom: -16px;
  }
}

.movie__item {
  max-width: 336px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .movie__item {
    flex-basis: calc(50% - 32px);
    min-width: 336px;
    max-width: none;
    margin-right: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .movie__item {
    flex-basis: calc(33.3333333333% - 16px);
    min-width: 310px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
.movie__item:hover, .movie__item:focus {
  box-shadow: 0 0 12px;
  background-color: #fff;
}

.movie__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.movie__image {
  margin-bottom: 8px;
  border: 2px solid rgba(220, 218, 218, 0.3882352941);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.movie__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FF6B08;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .pagination {
    margin-top: 60px;
  }
}

.pagination-list {
  display: flex;
  align-items: center;
}

.inner-pagination-list {
  display: flex;
  align-items: center;
}

.inner-pagination-list > span {
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .inner-pagination-list > span {
    margin-right: 10px;
  }
}

.paginate-btn,
.outer-paginate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
@media screen and (min-width: 768px) {
  .paginate-btn,
  .outer-paginate-btn {
    padding: 16px;
    width: 36px;
    height: 36px;
  }
}
.paginate-btn:hover,
.outer-paginate-btn:hover {
  color: #fff;
  background-color: rgba(255, 107, 1, 0.6);
}

.pagination-item:not(:last-child) {
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .pagination-item:not(:last-child) {
    margin-right: 10px;
  }
}

.paginate-block {
  padding: 4px;
}
@media screen and (min-width: 768px) {
  .paginate-block {
    padding: 12px;
  }
}

.paginate-block:not(:last-child) {
  margin-right: 8px;
}

.backdrop {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 250ms;
}
.backdrop.is-hidden .modal-container {
  transform: scale(0.5) rotate(180deg) translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 815px;
    height: 556px;
    padding: 40px 16px;
  }
}

.movieCard-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 54px 20px;
}
@media screen and (min-width: 768px) {
  .movieCard-box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
}

.modal-poster-box {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-poster-box {
    margin-bottom: 0;
    margin-right: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-poster-box {
    margin-right: 16px;
  }
}

.modal-info-box {
  display: flex;
  flex-direction: column;
}

.modal-info-wrapper {
  margin-bottom: 20px;
}

.btn-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-close {
  position: absolute;
  top: 0px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .button-close {
    top: 8px;
    right: 8px;
  }
}
.button-close .icon-close {
  stroke: #000000;
  width: 30px;
  height: 30px;
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close .icon-close:hover, .button-close .icon-close:focus {
  stroke: rgba(255, 107, 1, 0.6);
}

.modal-img {
  overflow: hidden;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal-img {
    max-width: 264px;
    max-height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-img {
    max-width: 380px;
    max-height: 478px;
  }
}

.movie-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.movie-about-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8C8C8C;
}
.movie-about-info span {
  color: #000000;
}
.movie-about-info .vote-average {
  padding: 1px 9px;
  background-color: #FF6B08;
  color: #FFFFFF;
  border-radius: 5px;
}

.movie-about-info + .movie-about-info {
  margin-top: 8px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subtitle {
    margin-bottom: 8px;
  }
}

.movie-overview {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.modal-btn {
  min-width: 140px;
  min-height: 44px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  scale: 1.01;
}

.modal-btn + .modal-btn {
  margin-left: 16px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.56);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  color: antiquewhite;
}

.footer-text {
  margin-right: 24px;
}

.footer-heart {
  margin-right: 16px;
}

.footer-developer-link {
  color: #FF6B08;
}

.is-hidden {
  display: none;
}

.active-btn {
  background-color: #FF6B01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: none;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */