$primaryFont: Roboto, sans-serif;

//Text Colors
$darkTextColor: #000000;
$accentTextColor:#FF6B08;
$lightTextColor:#FFFFFF;
$secondTextColor:#545454;
$greyTextColor:#8C8C8C;

// Background Colors
$headerBackground:rgba(0, 0, 0, 0.56);
$mainBackground:#E5E5E5;
$footerBackground:#F7F7F7;
$hoverActiveButtonColor:rgba(255, 107, 1, 0.6);
$activeButtonColor:#FF6B01;
$disactiveButtonColor:#FFFFFF;

// Fonts
$mainFontSize:12px;
$secondFontSize:14px;
$footerFontSize:16px;
$mainLineHeight:16px;
$secondLineHeight:14px;
$filmCardAboutLineHeight:20px;
$mainFontWeight:500;