<section class="movies-gallery-section">
    <div class="container">
      
      <ul class="movies-gallery"></ul>
    
      <div class="pagination">
        <ul class="pagination-list"> 
          <li class="paginate-block">
            <button class="outer-paginate-btn" type="button" disabled data-action="prev">PREV</button>
          </li> 
          <li class="paginate-block">
            <ul class="inner-pagination-list"></ul>
          </li>
          <li class="paginate-block">
            <button class="outer-paginate-btn" type="button" data-action="next">NEXT</button>
          </li>
        </ul>
      </div>
    </div>
    </section>