.footer{
    background-color:  rgba(0, 0, 0, 0.56);
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: antiquewhite;
}

.footer-text{
  margin-right: 24px;
}

.footer-heart{
    margin-right: 16px;
}

.footer-developer-link{
    color: $accentTextColor;
}